@import url(http://fonts.googleapis.com/css?family=Oleo+Script|Racing+Sans+One|Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);


.image-wall {
    /* -moz-column-count: 2;
    -moz-column-gap: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0;
    column-count: 2;
    column-gap: 0; */
}

.image-wall > div {
    display: block;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}


.image-wall img {
    /* display: inline-block; */ /* Display inline-block, and absolutely NO FLOATS! */
    width: 100%;
    padding: 0;
    margin: 0;
}

.img-wrap {
    position: relative;
    display: block;
    overflow: hidden;
}

.img-wrap > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    margin: 0;

    text-align: center;
    vertical-align: bottom;

    visibility: hidden;
    opacity: 0;

    -webkit-transition:  opacity  0.3s;
    -moz-transition:  opacity  0.3s;
    -ms-transition:  opacity  0.3s;
    -o-transition:  opacity  0.3s;
    transition:  opacity  0.3s;
}

.img-wrap > div > p {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}


.img-wrap:hover > div  {
    visibility: visible;
    opacity: 1;
}

.img-wrap > img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.img-wrap:hover > img {
    -webkit-transform: scale(1.1) translate(10px);
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

code {
    white-space: pre-wrap;
}

.nav > li > a {
    padding: 15px 10px 10px 10px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #eee;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f8b618;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f8b618;
        /* background-color: #69B2C7; */
        background-color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
    }
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.post-navigation {
    margin: 20px 0;
    font-size: 125%;
}

.post-date {
    width: 60px;
    height: 0;
    padding-bottom: 60px;
    border-radius: 50%;
    overflow: hidden;
    background: #a6cfea;
    color: #eee;
    float:left;
    text-align:center;
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}

input#submit {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.input-group-area > .form-control {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.input-group-area > .input-group-addon {
    vertical-align: top;
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}

input#submit:hover {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
    text-decoration: none;
}

header.entry-header {
    border-bottom: 2px solid #a6cfea;
    margin-bottom:10px;
    padding-bottom:5px;
}

.entry-thumb {
    float:left;
    padding: 0 5px;
}

a {
    color: #147ec9;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #f8b618;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.row-centered {
    margin: 0 auto;
    display: inline-block;
}

.entry-content img,
.entry-thumb img {
    /* display: block; */
    text-align: center;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.navbar-collapse {
    max-height: none;
}

.teaser-box {
    padding: 10px;
    margin-bottom:20px;
    display: block;
}

.teaser-img {
    padding: 0;
}


.teaser-camera {
    font-size: 150%;
    padding-right:5px;
    color: #f8b618;
}

.sam-boxed {
    border: 1px #f8b618 solid;
    border-radius: 5px;
    box-shadow: 0 0 4px -2px rgba(0,0,0,0.2);
}

.widget {
    color: #5b5c5c;
    margin-bottom: 20px;
}

.textwidget {
    padding: 0 5px;
}

.widget h2 {
    margin-bottom: 25px;
    border: 1px #e6eaee solid;
    /* border-radius: 5px; */
    box-shadow: 0 0 4px -2px rgba(0,0,0,0.2);
    text-align: center;
    font-size: 125%;
    padding: 5px;
    display: block;
    color: #ffffff;
    background-color: #a6cfea;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: none;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .page-header {
        width: 750px;
    }

    .page-header a {
        margin: 0;
        top: 0;
        right: 150px;
    }
}
@media (min-width: 992px) {
    .page-header {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .page-header {
        width: 1170px;
    }
}

.page-header a {
    width: 300px;
    border: none;
    position: absolute;
    z-index: 9999;
}

@media (max-width: 767px) {
    .page-header a {
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}

.page-header > a:hover,
.page-header > a:focus {
    text-decoration: none;
    color: #a6cfea;
}

.page-header h1 {
    font-size: 3em;
    letter-spacing: 0.1em;
    padding-left: 0.1em;
    margin-bottom: 0;
}

.page-header h2 {
    font-size: 2.5em;
    margin-top: 0;
    letter-spacing: 0.2em;
    padding-left: 0.2em;
    font-family: 'Great Vibes', cursive;
}

.font-arial {
    font-family: Arial, sans-serif;
}

#sam-main-nav.affix {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%
}


.welcome h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

article {
   margin-bottom:20px;
}

article h2 {
    font-size: 100%;
    font-weight: bold;
}

article img {
    margin: 2px;
}

h1.entry-title {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    h1.entry-title {
        -ms-word-break: break-all;
        word-break: break-all;

        /* Non standard for webkit */
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        font-size: 26px;
    }
}

#img-suitcase {
    width: 120px;
}

#littleblue-slogan {
    width: 250px;
}

.welcome h2 {
    font-size: 150%;
}

@font-face {
    font-family: "iconvault";
    src: url("../font/iconvault_ca8aca71c20598b2a7ead2351e8724e3.eot");
    src: url("../font/iconvault_ca8aca71c20598b2a7ead2351e8724e3.eot?#iefix") format("embedded-opentype"),
    url("../font/iconvault_ca8aca71c20598b2a7ead2351e8724e3.woff") format("woff"),
    url("../font/iconvault_ca8aca71c20598b2a7ead2351e8724e3.ttf") format("truetype"),
    url("../font/iconvault_ca8aca71c20598b2a7ead2351e8724e3.svg#iconvault") format("svg");
    font-weight: normal;
    font-style: normal;
}

.sam-icon {
    font-family: "iconvault";
    color: white;
    vertical-align: middle;
}

.sam-icon-size-48 {
    font-size: 40px;
}

.sam-icon-size-24 {
    font-size: 24px;
}

.sam-icon-size-32 {
    font-size: 32px;
}

a.sam-icon {
    display: inline-block;

    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
}

a.sam-icon:hover {
    text-decoration: none;
    transform: rotate(42deg) ;
    -webkit-transform: rotate(42deg) ;
    -moz-transform: rotate(42deg) ;
    -o-transform: rotate(42deg) ;
    -ms-transform: rotate(42deg) ;
}

li.sam-icon-pencil > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\270f";
    font-family: 'Glyphicons Halflings';
}

li.sam-icon-camera > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\e059";
    font-family: 'Glyphicons Halflings';
}

li.sam-icon-envelope > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\2709";
    font-family: 'Glyphicons Halflings';
}

li.sam-icon-heart > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\e005";
    font-family: 'Glyphicons Halflings';
}


li.sam-icon-star > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\e006";
    font-family: 'Glyphicons Halflings';
}

li.sam-icon-list > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\e032";
    font-family: 'Glyphicons Halflings';
}

li.sam-icon-book > a:before {
    vertical-align: -10%;
    font-size: 100%;
    margin-right: 5px;
    content: "\e043";
    font-family: 'Glyphicons Halflings';
}

.social-contact {
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-contact span.sam-icon {
    color: #eee;
    font-size: 40px;
}

.social-link {
    color: #ffffff;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}

footer a:hover {
    text-decoration: none;
    color: #147ec9;
}

.sam-color-one {
    color: #a6cfea;
}

.sam-color-two {
    color: #147ec9;
}

.sam-color-three {
    color: #f8b618;
}

.sam-color-grey {
    color: #5b5c5c;
}

.sam-font-oleo {
    font-family: 'Oleo Script', cursive;
}
.sam-font-vibes {
    font-family: 'Great Vibes', cursive;
}

.sam-font-racing {
    font-family: 'Racing Sans One', cursive;
}

.sam-font-opensans {
    font-family: 'Open Sans', sans-serif;
}

.sam-blog-content {
    background-color: #a6cfea;
    color: #fff;
    margin: 0 0 20px 0;
}

.hero-image {
    padding-top: 15px;
    padding-bottom: 10px;
}

.sam-blog-content > article > div {
    padding-top: 10px;
}

div.sam-section-row {
    padding: 0 15px;
}

.sam-section-row > div {
    padding-bottom: 20px;
}

.sam-section-row > div > div > img {
    width: 555px;
}

.sam-logo {
    padding: 10px 0;
}

.navbar-sam {
    background-color: #a6cfea;
}

.sam-content {
    border-radius: 4px;
    display: block;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: #5b5c5c;
}

.top-buffer { margin-top:20px; }


.videoWrapper {
    margin: 20px 0;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


footer {
    margin: 0;
    background-color: #a6cfea;
    color: #ffffff;
}


footer h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

footer a {
    color: #eee;
}

hr {
    color: #a6cfea;
    border-width: 2px;
}

.widget > h2 > a:after {
    vertical-align: -10%;
    font-size: 75%;
    margin-left: 5px;
    content: "\e144";
    font-family: 'Glyphicons Halflings';
}

.widget > h2 > a,
.sam-blog-content a,
.navbar-default .navbar-nav > li > a {
    color: #eee;
}

.widget > h2 > a:hover,
.widget > h2 > a:focus,
.sam-blog-content a:hover,
.sam-blog-content a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #147ec9;
    background-color: transparent;
}

.sam-blog-content .active a,
.sam-blog-content .active a:hover,
.sam-blog-content .active a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #147ec9;
    background-color: transparent;
}

.sam-blog-content .disabled a,
.sam-blog-content .disabled a:hover,
.sam-blog-content .disabled a:focus,
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #69B2C7;
}

/* custom widget css */
#social_ring_fanbox_widget-2 {
    text-align: center;
}

.simple-image img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#dawandaWidgetContainer,
#amzn_wdgt_t_8001_0 {
    display: block;
    margin: 0 auto;
}